# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Database
*.db
*.sqlite
*.sqlite3

# Configs
configs/
*.conf

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.local
yoomoney_code.txt
yoomoney_token.txt

# Logs
*.log

